<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="open()">click for search</button>
  {{selectedItem}}
</div>
<!-- <div class="select-wrapper">
    <div class="cus-select-wrapper" *ngIf="activeModal">
        <div class="cus-overlay" (click)="closecusmodal()">
        </div>
      <div class="list-container">
        <div class="search-box">
          <div class="cus-close">
            <button class="cancleModal" (click)="closecusmodal()"></button>
          </div>
          <input
            class="input" id="searchText" name="dev"
            type="text"
            [(ngModel)]="searchString"
            placeholder="Search your bank"
            (ngModelChange)="filterList($event)"
            (keyup)="arrowFunc($event)"
            autocomplete="off"
          />
        </div>
        <ul class="bank-list">
          <li *ngFor="let bank of currentBanksList; let i = index" (click)="selectedFunc(bank.name , i)" [class.active]="i===indexvalue" class="list-item">
            {{ bank.name }}
          </li>
          <li *ngIf="currentBanksList.length <= 0" class="no-result">
            <div class="msg-box">
              <div>No result not found</div>
              <div class="line"></div>
             <div class="not-my-bank">
                <label class="container">my bank is not listed
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
             </div>
            </div>
          </li>
        </ul>
      </div>
      </div>
</div> -->
<app-zest-select *ngIf="showList" [show]="showList" [colName]="'name'" [dataSource] = "datasource" (selectedBank)='selectedbank($event)' (closecusModal)='close($event)'></app-zest-select>
<router-outlet></router-outlet>
